body {
  background: linear-gradient(to bottom, purple, black);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.box {
  background:linear-gradient( purple,black);
  width: 280px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px gray;
}

h2 {
  color: darkblue;
  margin-bottom: 20px;
}

input {
  background-color: rgb(147, 4, 147);
  width: 90%;
  padding: 10px;
  margin: 6px;
  border: 1px solid gray;
  border-radius: 5px;
}

button {
  width: 95%;
  padding: 10px;
  margin-top: 10px;
  background: rgb(0, 0, 15);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: rgb(94, 2, 95);
}

.result2 {
  background: #eeeeee;
  color: black;
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
}
